// Variables
$primary-color: #FFF;
$secondary-color: #F6A623;
$neutral-color: #EEE;
$bckgnd-color: #222;
$font-stack-primary: "PT Sans Caption", Arial, sans-serif;
$font-stack-secondary: "PT Sans", Arial, sans-serif;
$input-font-size: 1.6rem;
$p-font-size: 1rem;