// Form

form {
    margin-top: 5rem;
    width: 80%;
    @extend %center-element;
    
    @media #{$medium} {
      margin-top: 3rem;
      width: 60%;
    }
    
    .form-p {

    @include font($font-stack-secondary, $p-font-size, $primary-color);
    text-align: center;
    padding: .3rem;
    margin: 3rem 0 0 0;
    width: 200px;
    position: relative;
        
    @media #{$medium} {
        background-color: $bckgnd-color;
    }
    
    }
}


::placeholder {
    @include font($font-stack-primary, 1.4rem, #222);
    opacity: .5;
    
    @media #{$medium} {
        font-size: $input-font-size;
    }
    
}
.search {
    position: relative;
    padding-top: .3rem;
    background-color: $bckgnd-color;
    text-align: center;
    
    @media #{$medium} {
      background: none;
      text-align: left;
    }
}
 
input[type=text] {
    margin-top: .5rem;
    background: $primary-color no-repeat;
    background-position: 10px 10px;
    @include font($font-stack-primary, 1.4rem, #222);
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    padding: 12px 20px 12px 20px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}




