
// Base

// Clear
.clearfix:after {
    content: "";
    clear: both;
    display: table;
}


// Typography
h1 {
    background: url(../img/movie-logo.png) no-repeat;
    background-size: 80%;
    font-family: $font-stack-secondary;
    text-indent: -9999px;
    float: left;
    color: $primary-color;
    padding-bottom: 1rem;
    height: 50px;
    width: 230px;
    margin: .5rem 4rem;

    
    @media #{$medium} {
      background-size: 60%;
      margin-right: 4rem;
    }
}

h2 {
    @extend %center-element;
    background-color: #222;
    width: 100%;

    @media #{$medium} {
      margin-top: 1rem;
      background: none;
      width: 89%;
      margin-bottom: .5rem;
    }
}

h2 span {
    background-color: #222;
    @include font($font-stack-secondary, 1.6rem, $primary-color);
    text-transform: capitalize;
    display: inline-block;
    padding: .8rem;

}

h3 {
    @include font($font-stack-primary, 1.4rem, $secondary-color);
    margin-top: 0;
    padding: 1rem;
    text-overflow: ellipsis; 
    overflow: hidden; 
    white-space: nowrap;
    
    @media #{$small} {
      font-size: $p-font-size;
    }
}

article p {
    @include font($font-stack-secondary, 1rem, $primary-color);
    opacity: .7;
    text-overflow: ellipsis; 
    overflow: hidden; 
    white-space: nowrap;
    padding: 0 0 1rem 1rem;
    
}

.no-results {
    @include font($font-stack-primary, 1.6rem, $secondary-color);
    text-align: center;
}

.max {
    @include font($font-stack-primary, 1rem, #ccc);
    padding-bottom: 1rem;
}

.center-text {
    text-align: center;
    font-size: $p-font-size;
}


// Structure
html {
    background-color: $neutral-color;
    height: 100%;
}

body {
    width: 100%;
    max-width: 1200px;
    @extend %center-element;
}

header {
    background: linear-gradient(rgba(0, 7, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../img/movie.jpg') no-repeat center center;
    background-size: 100%;
    height: 270px;
    overflow-y: hidden;
    position: relative;
    
    @media #{$medium} {
      height: 300px;
    }
}

section {
    height: auto;
    margin-top: 1rem;
    max-width: 100%;
    @extend %center-element;
    
    @media #{$medium} {
      width: 90%;
    }
    
}

.js-search-results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    .item {
    width: 95%;
        
    @media #{$small} {
    background-color: #222;
    min-height: 350px;
    margin: .35rem;
    width: 40%; 
    }
        
    @media #{$medium} {
    width: 31.83%;
    min-height: 320px;
    }

    @media #{$large} {
    width: 23.81%; 
    }
}
}

.container {
    margin-bottom: 1rem;
}


.content {
    background-color: #222;
    height: 150px;
    
    @media #{$small} {
      background-color: #222;
      width: 100%;
      height: 80px;
    }
}

article img {
    float: left;
    height: 150px;
    width: 30%;
    
    @media #{$small} {
      width: 100%;
      height: 280px;
    }
    
    @media #{$medium} {
      height: 220px;
    }
}

footer {
    background-color: $bckgnd-color;
    font-family: $font-stack-primary;
    color: $primary-color;
    text-align: center;
    @extend %center-element;
    margin-top: 5rem;
    padding: 2rem 0;
}

